<div class="row">
    <h3 class="col-md-6">{{ viewTitle }}</h3>
</div>


<form action="/employee" method="POST">
<input type="hidden" name="_id" value="{{ employee._id }}">
    <div class="form-group">
        <label>姓名(必填)</label>
        <input type="text" name="fullName" class="form-control" placeholder="Full name" value="{{ employee.fullName }}">
        <div class="text-danger">
            {{ employee.fullNameError }}
        </div>
    </div>
    <div class="form-group">
        <label>電子郵件(必填)</label>
        <input type="text" name="email" class="form-control" placeholder="Email" value="{{ employee.email }}">
        <div class="text-danger">
            {{ employee.emailError }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>居住城市</label>
            <input type="text" name="city" class="form-control" placeholder="City" value="{{ employee.city }}"> 
        </div>
        <div class="form-group col-md-6">
            <label>手機號碼</label>
            <input type="text" name="phoneNumber" class="form-control" placeholder="Phone Number" value="{{ employee.phoneNumber }}"> 
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-warning"><i class="fas fa-database"></i> 新增</button>
        <a href="/employee/list" class="btn btn-secondary">返回</a>
    </div>
</form>